$red:red;

#outside{ width:100%; height:300px; position:relative;}
.li_df{width:20px;height:20px;background-color:gray;border-radius:9px;}
.li_ac{width:20px;height:20px;background-color:white;border-radius:9px;}
.arrow_left,.arrow_right{width:30px; height:30px; background-color:$red;}